---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Superheltedagen">
  <section class="top-section grid grid-cols-12 md:mt-desktop-top mt-mobil-top md:mb-desktop-bottom mb-mobil-bottom">
    <div class="hero-section col-span-12 flex flex-row items-center justify-center">
      <div class="md:pt-8 pt-4 flex md:flex-row flex-col md:items-start items-center md:gap-32 gap-24">
        <img src="/images/hero_element.webp" alt="hero-element for superheltedagen" class="w-[400px] md:w-[700px]" />
        <img src="/images/superhero.webp" alt="superhelte-dreng" class="w-[250px] md:w-[350px]" />
      </div>
    </div>
    <div class="absolute bottom-[3%] md:bottom-[1%] w-full flex justify-center z-[30]">
      <a href="#about">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.8"
          stroke="currentColor"
          class="arrow float w-8 h-8 sm:w-12 sm:h-12 text-gray-50 hover:text-turquoise-300 transition duration-300 ease-in-out"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
        </svg>
      </a>
    </div>
  </section>
  <div class="line1 col-span-12">
    <img src="/images/line.webp" alt="sektionslinje" class="w-full h-[10px]" />
  </div>
  <section class="middle-section h-full p-8 bg-turquoise-300 grid grid-cols-12">
    <div class="col-span-12 flex md:flex-row flex-col items-center justify-center">
      <img
        src="/images/section1_image.webp"
        alt="billede til første tekst-sektion"
        class="rounded-full w-[300px] h-[300px] md:w-[400px] md:h-[400px] object-cover"
      />
      <div class="p-8 flex flex-col md:ml-10">
        <h2 class="text-h3-mobile md:text-h3-desktop md:pb-8 pb-4">
          Bliv en del af Superheltedagen, hvor vi samler ind til børn med livstruende sygdomme som kræft og hjertesygdomme
        </h2>
        <p>
          Den 28. april 2025 er det international superheltedag – og det fejrer vi selvfølgelig med Superheltedagen, hvor hele Danmark er inviteret
          med. <br class="md:block hidden" />
          Superheltedagen er en årlig indsamlingsdag, hvor alle midler går direkte til Legeheltene og Kreaheltenes arbejde for børn med livstruende sygdomme
          i Danmark.
        </p>
      </div>
    </div>
  </section>
  <section class="slider-section grid grid-cols-12">
    <h2 class="pl-8 md:text-left col-span-12 text-h3-mobile md:text-h3-desktop md:pb-0 pb-4 md:pt-12 pt-8">Deltager i Superheltedagen 2025</h2>
    <div class="slider col-span-12">
      <div class="slide-track col-span-12">
        <div class="slide"><img src="/images/br.webp" alt="" /></div>
        <div class="slide"><img src="/images/dcc.webp" alt="" /></div>
        <div class="slide"><img src="/images/myselfie.webp" alt="" /></div>
        <div class="slide"><img src="/images/abg.webp" alt="" /></div>
        <div class="slide"><img src="/images/ecograf.webp" alt="" /></div>
        <div class="slide"><img src="/images/kidvertising.webp" alt="" /></div>
        <div class="slide"><img src="/images/andersenheegaard.webp" alt="" /></div>
        <div class="slide"><img src="/images/kiplingtravel.webp" alt="" /></div>
        <div class="slide"><img src="/images/grundfos.webp" alt="" /></div>
        <div class="slide"><img src="/images/kadaver.webp" alt="" /></div>
        <div class="slide"><img src="/images/skoda.webp" alt="" /></div>
        <div class="slide"><img src="/images/danskefragtmaend.webp" alt="" /></div>
        <div class="slide"><img src="/images/continental.webp" alt="" /></div>
        <div class="slide"><img src="/images/djurslandsbank.webp" alt="" /></div>
        <div class="slide"><img src="/images/smykbar.webp" alt="" /></div>
        <div class="slide"><img src="/images/ocean.webp" alt="" /></div>

        <!-- Duplicate slides for seamless looping -->
        <div class="slide"><img src="/images/br.webp" alt="" /></div>
        <div class="slide"><img src="/images/dcc.webp" alt="" /></div>
        <div class="slide"><img src="/images/myselfie.webp" alt="" /></div>
        <div class="slide"><img src="/images/abg.webp" alt="" /></div>
        <div class="slide"><img src="/images/ecograf.webp" alt="" /></div>
        <div class="slide"><img src="/images/kidvertising.webp" alt="" /></div>
        <div class="slide"><img src="/images/andersenheegaard.webp" alt="" /></div>
        <div class="slide"><img src="/images/kiplingtravel.webp" alt="" /></div>
        <div class="slide"><img src="/images/grundfos.webp" alt="" /></div>
        <div class="slide"><img src="/images/kadaver.webp" alt="" /></div>
        <div class="slide"><img src="/images/skoda.webp" alt="" /></div>
        <div class="slide"><img src="/images/danskefragtmaend.webp" alt="" /></div>
        <div class="slide"><img src="/images/continental.webp" alt="" /></div>
        <div class="slide"><img src="/images/djurslandsbank.webp" alt="" /></div>
        <div class="slide"><img src="/images/smykbar.webp" alt="" /></div>
        <div class="slide"><img src="/images/ocean.webp" alt="" /></div>

        <!-- Duplicate slides for seamless looping -->
        <div class="slide"><img src="/images/br.webp" alt="" /></div>
        <div class="slide"><img src="/images/dcc.webp" alt="" /></div>
        <div class="slide"><img src="/images/myselfie.webp" alt="" /></div>
        <div class="slide"><img src="/images/abg.webp" alt="" /></div>
        <div class="slide"><img src="/images/ecograf.webp" alt="" /></div>
        <div class="slide"><img src="/images/kidvertising.webp" alt="" /></div>
        <div class="slide"><img src="/images/andersenheegaard.webp" alt="" /></div>
        <div class="slide"><img src="/images/kiplingtravel.webp" alt="" /></div>
        <div class="slide"><img src="/images/grundfos.webp" alt="" /></div>
        <div class="slide"><img src="/images/kadaver.webp" alt="" /></div>
        <div class="slide"><img src="/images/skoda.webp" alt="" /></div>
        <div class="slide"><img src="/images/danskefragtmaend.webp" alt="" /></div>
        <div class="slide"><img src="/images/continental.webp" alt="" /></div>
        <div class="slide"><img src="/images/djurslandsbank.webp" alt="" /></div>
        <div class="slide"><img src="/images/smykbar.webp" alt="" /></div>
        <div class="slide"><img src="/images/ocean.webp" alt="" /></div>

        <!-- Duplicate slides for seamless looping -->
        <div class="slide"><img src="/images/br.webp" alt="" /></div>
        <div class="slide"><img src="/images/dcc.webp" alt="" /></div>
        <div class="slide"><img src="/images/myselfie.webp" alt="" /></div>
        <div class="slide"><img src="/images/abg.webp" alt="" /></div>
        <div class="slide"><img src="/images/ecograf.webp" alt="" /></div>
        <div class="slide"><img src="/images/kidvertising.webp" alt="" /></div>
        <div class="slide"><img src="/images/andersenheegaard.webp" alt="" /></div>
        <div class="slide"><img src="/images/kiplingtravel.webp" alt="" /></div>
        <div class="slide"><img src="/images/grundfos.webp" alt="" /></div>
        <div class="slide"><img src="/images/kadaver.webp" alt="" /></div>
        <div class="slide"><img src="/images/skoda.webp" alt="" /></div>
        <div class="slide"><img src="/images/danskefragtmaend.webp" alt="" /></div>
        <div class="slide"><img src="/images/continental.webp" alt="" /></div>
        <div class="slide"><img src="/images/djurslandsbank.webp" alt="" /></div>
        <div class="slide"><img src="/images/smykbar.webp" alt="" /></div>
        <div class="slide"><img src="/images/ocean.webp" alt="" /></div>

        <!-- Duplicate slides for seamless looping -->
        <div class="slide"><img src="/images/br.webp" alt="" /></div>
        <div class="slide"><img src="/images/dcc.webp" alt="" /></div>
        <div class="slide"><img src="/images/myselfie.webp" alt="" /></div>
        <div class="slide"><img src="/images/abg.webp" alt="" /></div>
        <div class="slide"><img src="/images/ecograf.webp" alt="" /></div>
        <div class="slide"><img src="/images/kidvertising.webp" alt="" /></div>
        <div class="slide"><img src="/images/andersenheegaard.webp" alt="" /></div>
        <div class="slide"><img src="/images/kiplingtravel.webp" alt="" /></div>
        <div class="slide"><img src="/images/grundfos.webp" alt="" /></div>
        <div class="slide"><img src="/images/kadaver.webp" alt="" /></div>
        <div class="slide"><img src="/images/skoda.webp" alt="" /></div>
        <div class="slide"><img src="/images/danskefragtmaend.webp" alt="" /></div>
        <div class="slide"><img src="/images/continental.webp" alt="" /></div>
        <div class="slide"><img src="/images/djurslandsbank.webp" alt="" /></div>
        <div class="slide"><img src="/images/smykbar.webp" alt="" /></div>
        <div class="slide"><img src="/images/ocean.webp" alt="" /></div>
      </div>
    </div>
  </section>
  <section class="video-section col-span-12 md:pt-4 pt-4">
    <div class="col-span-12 w-full h-screen">
      <iframe
        class="w-full h-full"
        src="https://www.youtube.com/embed/Aj_e8uIecDY?si=gkHKIN4-NJulxZoF"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      >
      </iframe>
    </div>
  </section>
</MainLayout>

<style>
  @keyframes float {
    0% {
      transform: translatey(0);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0);
    }
  }
  .float {
    animation: float 3s ease-in-out infinite;
  }

  body {
    background-color: #333;
  }

  /* Slider */
  .slider img {
    width: 20rem;
    height: fit-content;
  }

  .slider {
    padding: 10px;
    overflow: hidden;
  }

  .slider-section h2 {
    color: #f6f6f6;
  }

  @media screen and (max-width: 768px) {
    .slider {
      padding: 10px;
      overflow: hidden;
      width: 100vw;
    }

    .slider img {
      width: 10rem;
      height: auto;
      object-fit: cover; /* Ensures images maintain aspect ratio */
    }

    .slide-track {
      display: flex;
      gap: 3em;
      width: calc(100% * 11); /* Adjusted for proper image spacing */
      animation: scroll 120s linear infinite;
    }
  }

  .slide-track {
    display: flex;
    gap: 3em;
    width: calc(100% * 11);
    animation: scroll 120s linear infinite;
  }

  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 10rem; /* Ensures no extra spacing */
  }

  /* Scrolling animation */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
