---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Slider from "../components/Slider.astro";
---

<MainLayout
  title="Superheltedagen"
  description="Børneulykkesfonden - Superheltedagen"
  ogtitle="Bliv en del af Superheltedagen"
  ogdescription="Børneulykkesfonden's indsamlingsevent Superheltedagen"
>
  <section id="hero" class="top-section grid grid-cols-12 md:mt-desktop-top mt-mobil-top md:mb-desktop-bottom mb-mobil-bottom">
    <div class="hero-section col-span-12 flex flex-row items-center justify-center content-center relative">
      <div class="flex md:flex-row flex-col md:items-start items-center gap-gap relative">
        <img
          src="/images/hero_element.webp"
          alt="Tegnet hero-element for Superheltedagen"
          class="hero_element md:pt-24 pt-16 w-[400px] md:w-[700px]"
        />

        <!-- Splash Circle -->
        <div
          class="circle absolute w-[160px] md:w-[280px] h-[160px] md:h-[280px] bg-rose-500 rounded-full -z-10 md:left-[58.5rem] left-[11.5rem] md:top-[2rem] top-[27rem]"
        >
          <p
            class="font-satoshi-bold md:text-h3-mobile text-p-mobile text-gray-50 absolute text-center top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-40"
          >
            Send din støtte via MobilePay: <span class="font-satoshi-regular">573917</span>
          </p>
        </div>

        <img
          src="/images/superhero.webp"
          alt="AI-genereret billede af en superhelte-dreng med Legeheltenes logo på brystet"
          class="superhero md:pt-5 pt-12 w-[250px] md:w-[400px] relative"
        />
      </div>
    </div>
  </section>
  <div class="line1 col-span-12">
    <img src="/images/line.webp" alt="sektionslinje" class="w-full h-[10px]" />
  </div>
  <section
    id="about"
    class="middle-section md:px-16 px-8 py-10 bg-turquoise-300 opacity-0 transition-opacity duration-500 ease-in-out will-change-[opacity, transform]"
  >
    <div class="col-span-12 flex md:flex-row flex-col items-center md:gap-16 gap-4">
      <img
        src="/images/section1_image.webp"
        alt="billede til første tekst-sektion"
        class="middle-image rounded-full w-[300px] h-[300px] md:w-[350px] md:h-[350px] object-cover"
      />
      <div class="text-container flex flex-col md:mt-0 mt-4">
        <h2 class="text-h3-mobile md:text-h3-desktop md:pb-8 pb-4 md:pt-0 pt-8 md:max-w-6xl">
          Bliv en del af Superheltedagen, hvor vi samler ind til børn med livstruende sygdomme som kræft og hjertesygdomme
        </h2>
        <p class="md:max-w-6xl">
          Den 28. april 2025 er det international superheltedag&mdash; og det fejrer vi selvfølgelig med Superheltedagen, hvor hele Danmark er
          inviteret med. Superheltedagen er en årlig indsamlingsdag, hvor alle midler går direkte til Legeheltene og Kreaheltenes arbejde for børn med
          livstruende sygdomme i Danmark.
        </p>
      </div>
    </div>
  </section>
  <section class="slider-section mx-auto grid grid-cols-12">
    <h2 class="md:px-16 px-8 text-left col-span-12 text-h3-mobile md:text-h3-desktop pb-6 md:pt-12 pt-9">Deltager i Superheltedagen 2025</h2>
    <Slider />
  </section>
  <section class="video-section col-span-12 md:pt-4 pt-4">
    <div class="col-span-12 w-full h-screen">
      <iframe
        class="w-full h-full"
        src="https://www.youtube.com/embed/Aj_e8uIecDY?si=gkHKIN4-NJulxZoF"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      >
      </iframe>
    </div>
  </section>

  <section class="charity-section mx-auto md:px-16 px-8 md:py-12 py-8 bg-turquoise-300 grid grid-cols-12">
    <div class="col-span-12 grid md:grid-cols-2 grid-cols-1 md:gap-16 gap-gap items-center justify-center">
      <div class="charity-container1">
        <h2 class="md:pb-8 pb-4 md:max-w-5xl">Det går midlerne til</h2>
        <h3 class="md:max-w-3xl">Flere børn, som er ramt af livstruende sygdom, der skal have besøg af Legeheltene og Kreaheltene</h3>
        <div class="btn_container md:pt-12 pt-10">
          <a href="https://børneulykkesfonden.dk/heltene/kreaheltene/heltekaravanen" target="_blank">
            <Button variant="primary" size="large">Læs mere om Heltekaravanen</Button>
          </a>
        </div>
      </div>
      <div class="charity-text">
        <p class="md:pt-0 pt-8 md:max-w-6xl">
          Det er ubærligt at tænke på, at nogen børn skal herfra, før de har levet deres liv fuldt ud. Derfor afholder vi indsamlingsinitiativet
          Superheltedagen d. 28. april 2025, så flere børn med livstruende eller uhelbredelig sygdom kan få besøg af en helt i eget hjem. <br /><br />
          Når du fejrer Superheltedagen med os, støtter du vores projekt Heltekaravanen. Heltekaravanen er et tilbud til børn, der er tilknyttet palliationen,
          og deres familier, hvor de får besøg af Legeheltene og Kreaheltene i deres eget hjem. Legeheltene og Kreaheltene hjælper børnene og deres familierne
          i en sårbar tid og giver både barnet, forældre og eventuelle søskende gode minder sammen&mdash; alt fra sanselege til mindekasser og gipsaftryk.
        </p>
      </div>
    </div>
  </section>

  <section class="support-section mx-auto md:px-16 px-8 md:py-12 py-8 grid grid-cols-12">
    <div class="support-container col-span-12 grid md:grid-cols-4 grid-cols-1 gap-gap justify-center items-start">
      <h2 class="text-h3-mobile md:text-h3-desktop md:col-span-4 pb-8">Det er nemt at deltage i Superheltedagen</h2>

      <!-- Image-container 1 -->
      <div class="flex flex-col items-center text-center h-full">
        <div class="flex flex-col items-center justify-between gap-gap h-full">
          <img src="/images/support1.webp" alt="" class="w-[120px] h-[170px] object-cover" />
          <p class="bold flex-grow min-h-[80px]">Donér et valgfrit beløb på Mobilepay 573917</p>
        </div>
      </div>

      <!-- Image-container 2 -->
      <div class="flex flex-col items-center text-center h-full">
        <div class="flex flex-col items-center justify-between gap-gap h-full">
          <img src="/images/support2.webp" alt="" class="w-[160px] h-[170px] object-cover" />
          <p class="bold flex-grow min-h-[80px]">Hop i heltekappen og del en selfie med #superheltedagen</p>
        </div>
      </div>

      <!-- Image-container 3 -->
      <div class="flex flex-col items-center text-center h-full">
        <div class="flex flex-col items-center justify-between gap-gap h-full">
          <img src="/images/support3.webp" alt="" class="w-[170px] h-[170px] object-cover" />
          <p class="bold flex-grow min-h-[80px]">Spred det gode budskab, og inviter dit netværk til at støtte kampagnen</p>
        </div>
      </div>

      <!-- Image-container 4 -->
      <div class="flex flex-col items-center text-center h-full">
        <div class="flex flex-col items-center justify-between gap-gap h-full">
          <img src="/images/support4.webp" alt="" class="w-[210px] h-[170px] object-cover" />
          <p class="bold flex-grow min-h-[80px]">Flyv afsted i din kappe mandag den 28. april 2025, og vis din støtte</p>
        </div>
      </div>
    </div>
  </section>
  <section class="image-section mx-auto grid grid-cols-12">
    <div class="col-span-12 w-full h-screen">
      <img src="/images/work_section.webp" alt="" class="w-full h-full object-cover" />
    </div>
  </section>
  <section class="work-section mx-auto md:px-16 px-8 md:py-12 py-8 grid grid-cols-12">
    <div class="work-container col-span-12 grid md:grid-cols-2 grid-cols-1 md:gap-16 gap-gap items-center justify-center md:pb-8 pb-4">
      <div class="work-text1">
        <h2 class="md:pb-8 pb-4 max-w-5xl text-gray-50">Deltag som virksomhed</h2>
        <h3 class="text-turquoise-300">Sæt fokus på social ansvarlighed blandt medarbejdere og kolleger</h3>
        <div class="btn_container md:pt-12 pt-10">
          <a href="https://form.jotform.com/243123026664349" target="_blank">
            <Button variant="secondary" size="large">Tilmeld din virksomhed nu</Button>
          </a>
        </div>
      </div>
      <div class="work-text2">
        <p class="md:pt-0 pt-8 text-gray-50">
          På Superheltedagen den 28. april 2025 hopper virksomheder over hele landet i heltekapper for at skabe glæde og fællesskab&mdash; og for at
          gøre en forskel.
          <br /><br />
          Alle virksomheder, der deltager i Superheltedagen, forpligter sig til at samle midler ind til Legeheltene og Kreaheltenes arbejde for børn med
          livstruende sygdomme i Danmark.
          <br />
          Ved at deltage støtter I ikke bare den vigtige sag, men I skaber også et stærkt sammenhold og en meningsfuld tradition i jeres virksomhed. Hop
          i heltekappen og vær med til at fejre de små helte, der kæmper hver dag!
        </p>
      </div>
    </div>
  </section>

  <style>
    @keyframes float {
      0% {
        transform: translatey(0);
      }
      50% {
        transform: translatey(-10px);
      }
      100% {
        transform: translatey(0);
      }
    }
    .float {
      animation: float 3s ease-in-out infinite;
    }

    body {
      background-color: #333;
    }

    .support-section h2,
    .support-section p,
    .slider-section h2 {
      color: #f6f6f6;
    }

    .bold {
      font-weight: bold;
    }

    .hero-section {
      min-height: 60vh;
    }
  </style>

  <script>
    import { inView } from "motion";

    /* inView Animations */

    /* Hero Section */
    const elementmedanimation1 = document.querySelector(".hero_element");
    inView(elementmedanimation1, () => {
      elementmedanimation1.classList.add("animate__animated", "animate__bounceInLeft");
    });

    const elementmedanimation2 = document.querySelector(".superhero");
    inView(elementmedanimation2, () => {
      elementmedanimation2.classList.add("animate__animated", "animate__bounceInDown");
    });

    const elementmedanimation3 = document.querySelector(".circle");
    inView(elementmedanimation3, () => {
      elementmedanimation3.classList.add("animate__animated", "animate__rotateInDownRight");
    });

    /* Middle Section */
    const elementmedanimation4 = document.querySelector(".middle-image");
    inView(elementmedanimation4, () => {
      elementmedanimation4.classList.add("animate__animated", "animate__fadeInLeft");
    });

    const elementmedanimation5 = document.querySelector(".middle-section .text-container");
    inView(elementmedanimation5, () => {
      elementmedanimation5.classList.add("animate__animated", "animate__fadeInRight");
    });

    /* Charity Section */
    const elementmedanimation7 = document.querySelector(".charity-container1");
    inView(elementmedanimation7, () => {
      elementmedanimation7.classList.add("animate__animated", "animate__fadeInLeft");
    });

    const elementmedanimation8 = document.querySelector(".charity-text");
    inView(elementmedanimation8, () => {
      elementmedanimation8.classList.add("animate__animated", "animate__fadeInRight");
    });

    /* Support Section */
    const support = document.querySelectorAll(".support-container > div");

    support.forEach((supports, index) => {
      inView(supports, () => {
        supports.style.animationDelay = `${index * 400}ms`; // Ensure delay is set before animation
        supports.classList.add("animate__animated", "animate__fadeInUp");
      });
    });

    const elemntmedanimation10 = document.querySelector(".support-section h2");
    inView(elemntmedanimation10, () => {
      elemntmedanimation10.classList.add("animate__animated", "animate__fadeInLeft");
    });

    /* Work Section */
    const elemntmedanimation11 = document.querySelector(".work-text1");
    inView(elemntmedanimation11, () => {
      elemntmedanimation11.classList.add("animate__animated", "animate__fadeInLeft");
    });

    const elemntmedanimation11b = document.querySelector(".work-section .btn_container");
    inView(elemntmedanimation11b, () => {
      elemntmedanimation11b.classList.add("animate__animated", "animate__fadeInLeft");
    });

    const elemntmedanimation12 = document.querySelector(".work-text2");
    inView(elemntmedanimation12, () => {
      elemntmedanimation12.classList.add("animate__animated", "animate__fadeInRight");
    });

    /* Image Section */
    const elemntmedanimation12b = document.querySelector(".image-section");
    inView(elemntmedanimation12b, () => {
      elemntmedanimation12b.classList.add("animate__animated", "animate__fadeIn");
    });

    const elemntmedanimation14 = document.querySelector(".slider-section h2");
    inView(elemntmedanimation14, () => {
      elemntmedanimation14.classList.add("animate__animated", "animate__slideInLeft");
    });

    /* Video Section */

    const elemntmedanimation15 = document.querySelector(".video-section iframe");
    inView(elemntmedanimation15, () => {
      elemntmedanimation15.classList.add("animate__animated", "animate__fadeIn");
    });

    /* Misc */
    document.addEventListener("DOMContentLoaded", () => {
      document.querySelector(".middle-section").classList.remove("opacity-0");
    });
  </script>
</MainLayout>
