---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Superheltedagen">
  <section class="top-section">
    <div class="hero-section">
      <div class="flex flex-row items-center gap-4">
        <img src="/images/hero_element.webp" alt="hero-element for superheltedagen" />
        <img src="/images/superhero.webp" alt="superhelte-dreng" />
      </div>
    </div>
  </section>
</MainLayout>
