---
const { variant = "primary", size = "medium" } = Astro.props;

const buttonStyling = "rounded-full px-6 p-3 font-semibold hover:-translate-y-[2px] transition duration-300 ease-in-out";

const variantClasses = {
  primary: "bg-turquoise-900 hover:bg-turquoise-950 text-gray-50",
  secondary: "bg-gray-50 text-turquoise-900 hover:opacity-80",
};

const sizeClasses = {
  large: "text-3xl",
  medium: "text-2xl",
  small: "text-lg",
};
---

<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot button /></button>
