---

---

<hr class="border-t border-turquoise-400 opacity-50" />
<section class="mx-auto pt-12 pb-6 md:py-8 md:px-16 px-8">
  <section class="grid md:grid-cols-3 gap-gap items-center content-center">
    <!-- Left Section -->
    <div>
      <div class="md:pb-0 pb-4">
        <p class="bold pb-6 text-gray-50">Legeheltene, Kreaheltene, Helteakademiet og Heltecamps er en del af Børneulykkesfonden.</p>
        <p class="text-gray-50">Børneulykkesfonden</p>
        <p class="text-gray-50">Gammel Kongevej 60</p>
        <p class="text-gray-50">DK-1790 København</p>
      </div>
      <div class="socials pt-8">
        <div class="flex gap-5">
          <a href="https://www.facebook.com/borneulykkesfonden/" target="_blank">
            <img src="/images/facebook.svg" alt="facebook logo" class="w-[40px] hover:opacity-50 transition duration-300 ease-in-out" />
          </a>
          <a href="https://www.instagram.com/borneulykkesfonden/" target="_blank">
            <img src="/images/instagram.svg" alt="instagram logo" class="w-[40px] hover:opacity-50 transition duration-300 ease-in-out" />
          </a>
          <a href="https://www.youtube.com/c/Borneulykkesfonden" target="_blank">
            <img src="/images/youtube.svg" alt="youtube logo" class="w-[40px] hover:opacity-50 transition duration-300 ease-in-out" />
          </a>
          <a href="https://www.linkedin.com/company/borneulykkesfonden/" target="_blank">
            <img src="/images/linkedin.svg" alt="linkedin logo" class="w-[40px] hover:opacity-50 transition duration-300 ease-in-out" />
          </a>
        </div>
      </div>
    </div>

    <!-- Spacer Section -->
    <div class="hidden md:block"></div>

    <!-- Social Media Section -->
    <div class="flex flex-col md:items-end items-start justify-center">
      <div class="flex gap-gap md:pt-0 pt-5 md:pb-0 pb-8">
        <img src="/images/footer_logo.webp" alt="logo for børneulykkesfonden" class="w-[250px]" />
      </div>
      <!-- Copyright Section Below SoMe Icons -->
      <p class="text-gray-50 md:mt-24">2025 © Børneulykkesfonden. All rights reserved.</p>
    </div>
  </section>
</section>
<div class="line1 col-span-12">
  <img src="/images/line.webp" alt="sektionslinje" class="w-full h-[10px]" />
</div>
<style>
  .bold {
    font-weight: bold;
  }
</style>
