---
import Button from "../components/Button.astro";
---

<div x-data="{ showmenu: false }" class="z-50 header fixed mx-auto w-full pt-4 pb-4 md:py-4 md:px-0 px-6 backdrop-blur-sm">
  <div id="navbar" class="flex flex-row items-center gap-gap md:px-12 mx-auto pt-2 pb-2">
    <!-- Logo (hidden on mobile) -->
    <div x-show="!showmenu">
      <a href="#logo"><img src="/images/logo.webp" alt="logo for legeheltene" class="h-12" /></a>
    </div>

    <!-- Right-side container: Link + Buttons -->
    <div class="flex items-center ml-auto gap-12">
      <!-- Desktop link (aligned next to buttons) -->
      <nav id="desktopmenu" class="hidden lg:block">
        <ul class="flex">
          <li>
            <a
              href="https://børneulykkesfonden.dk/forside"
              target="_blank"
              class="text-gray-50 hover:text-turquoise-300 hover:underline transition duration-300 ease-in-out">Gå til Børneulykkesfonden</a
            >
          </li>
        </ul>
      </nav>

      <!-- Buttons (aligned right) -->
      <div class="btn_container hidden lg:flex gap-4">
        <a href="https://form.jotform.com/243123026664349" target="_blank">
          <Button variant="primary" size="small">Tilmeld din virksomhed</Button>
        </a>
        <a href="https://shop.børneulykkesfonden.dk/products/heltekapper-m-maske-superheltebeviser?variant=54862502396277" target="_blank">
          <Button variant="primary" size="small">Superhelteshop</Button>
        </a>
      </div>
    </div>

    <!-- Burger menu (only visible on mobile) -->
    <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = !showmenu">
      <!-- Hamburger icon -->
      <svg
        x-show="!showmenu"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-8 text-gray-50 hover:text-turquoise-300 transition duration-300 ease-in-out"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5"></path>
      </svg>

      <!-- Close icon (Cross) -->
      <svg
        x-show="showmenu"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-8 text-gray-50 hover:text-turquoise-300 transition duration-300 ease-in-out"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>

  <!-- Mobile menu -->
  <nav
    id="mobilmenu"
    class="flex flex-col items-center content-center"
    x-show="showmenu"
    x-transition.opacity
    x-cloak
    x-on:click.outside="showmenu = false"
  >
    <img src="/images/logo.webp" alt="logo for legeheltene" class="h-16 pb-4 md:pb-0" />
    <ul>
      <li class="text-gray-50 py-2 border-b border-turquoise-400 border-opacity-50">
        <a
          href="https://børneulykkesfonden.dk/forside"
          target="_blank"
          class="hover:text-turquoise-300 hover:underline transition duration-300 ease-in-out">Gå til Børneulykkesfonden</a
        >
      </li>
    </ul>
    <div class="btn_container lg:flex gap-4 pt-8 md:pt-0">
      <a href="https://form.jotform.com/243123026664349" target="_blank">
        <Button variant="primary" size="small">Tilmeld din virksomhed</Button>
      </a>
      <a href="https://shop.børneulykkesfonden.dk/products/heltekapper-m-maske-superheltebeviser?variant=54862502396277" target="_blank">
        <Button variant="primary" size="small">Superhelteshop</Button>
      </a>
    </div>
  </nav>
</div>

<style>
  .header {
    background: rgb(60, 148, 158);
    background: linear-gradient(-90deg, rgba(60, 148, 158, 1) 0%, rgba(52, 122, 134, 1) 50%, rgba(52, 122, 134, 1) 83%);
  }

  [x-cloak] {
    display: none !important;
  }
</style>
